[data]
    name = {{ promptString "Your name" | quote }}
    email = {{ promptString "Personal email" | quote }}
    workEmail = {{ promptString "Work email (for ~/Projects/work/)" | quote }}
    dockerHubUsername = {{ promptString "Docker Hub username" | quote }}
    awsAccountId = {{ promptString "AWS Account ID" | quote }}
