{{- if lookPath "op" }}
# Secrets from 1Password (Secrets vault)
export DOCKER_HUB_PASSWORD="{{ (onepasswordDetailsFields "Docker Hub" "Secrets").password.value }}"

# Jenkins (meshtools)
export JENKINS_URL="https://jenkins.meshtools.io"
export JENKINS_USER_ID="{{ (onepasswordDetailsFields "Jenkins meshtools" "Secrets").username.value }}"
export JENKINS_API_TOKEN="{{ (onepasswordDetailsFields "Jenkins meshtools" "Secrets").password.value }}"
{{- else }}
# 1Password CLI not installed. Run: brew install 1password-cli && op signin
{{- end }}
