[default]
aws_access_key_id = {{ env "AWS_ACCESS_KEY_ID_MESHDEV" }}
aws_secret_access_key = {{ env "AWS_SECRET_ACCESS_KEY_MESHDEV" }}
[meshdev]
aws_access_key_id = {{ env "AWS_ACCESS_KEY_ID_MESHDEV" }}
aws_secret_access_key = {{ env "AWS_SECRET_ACCESS_KEY_MESHDEV" }}
[meshlabs]
aws_access_key_id = {{ env "AWS_ACCESS_KEY_ID_MESHLABS" }}
aws_secret_access_key = {{ env "AWS_SECRET_ACCESS_KEY_MESHLABS" }}
[meshtools]
role_arn = arn:aws:iam::200327251464:role/DeveloperCommon
source_profile = meshlabs
